* {
  box-sizing: border-box; }

html,
body {
  min-height: 100%; }

body {
  background-color: #f5f5f5;
  font-size: 1em;
  color: #222; }

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
hr,
img,
ul,
li {
  margin: 0;
  padding: 0; }

ul {
  list-style-type: none; }

a {
  color: #fff; }
  a:hover {
    text-decoration: none;
    color: inherit; }

h1 {
  font-size: 28px; }

h2 {
  font-size: 22px; }

h4 {
  font-size: 20px; }

@media (max-width: 767px) {
  .navbar {
    margin-bottom: 0; } }
.app {
  padding-left: 0;
  padding-right: 0; }
  .app hr {
    color: #f5f5f5; }
  .app .aside {
    position: static;
    padding-left: 0;
    padding-right: 0;
    height: 778px;
    background-color: #222;
    color: #fff;
    text-align: center; }
    .app .aside .about .brand-name {
      padding-top: 20px;
      margin-bottom: 20px; }
    .app .aside .about .portrait {
      margin-bottom: 20px; }
      .app .aside .about .portrait:hover,
      .app .aside .about .portrait .active {
        -webkit-transform: translateY(-5px);
        /* Ch <36, Saf 5.1+, iOS < 9.2, An =<4.4.4 */
        -ms-transform: translateY(-5px);
        /* IE 9 */
        transform: translateY(-5px);
        /* IE 10, Fx 16+, Op 12.1+ */ }
    .app .aside .about .circle {
      border-radius: 100px;
      border: 1px solid #222; }
    .app .aside .about .current-info {
      padding: 20px 15px;
      text-align: right; }
    .app .aside .sidebar-nav {
      padding: 0 0 20px; }
      .app .aside .sidebar-nav .sidebar-list {
        list-style-type: none;
        text-align: right;
        font-size: 16px;
        padding-left: 0px; }
        .app .aside .sidebar-nav .sidebar-list .sidebar-item {
          border-bottom: 1px solid #f5f5f5;
          position: relative;
          height: 50px; }
          .app .aside .sidebar-nav .sidebar-list .sidebar-item a {
            padding: 15px;
            position: absolute;
            height: 100%;
            width: 100%;
            top: 0;
            left: 0;
            background-color: #222;
            z-index: 10; }
            .app .aside .sidebar-nav .sidebar-list .sidebar-item a:hover,
            .app .aside .sidebar-nav .sidebar-list .sidebar-item a .active {
              -webkit-transform: translateX(20px);
              /* Ch <36, Saf 5.1+, iOS < 9.2, An =<4.4.4 */
              -ms-transform: translateX(20px);
              /* IE 9 */
              transform: translateX(20px);
              /* IE 10, Fx 16+, Op 12.1+ */ }
  .app .main-content {
    padding: 0px 0;
    background-color: #f5f5f5;
    color: #000; }
    .app .main-content .panel {
      border-radius: 0px;
      margin: 0 0 40px 0; }
      .app .main-content .panel .panel-heading {
        background-color: #fff;
        letter-spacing: 10px;
        border-bottom: 2px solid #222;
        border-top: 2px solid #222;
        border-radius: 0;
        box-shadow: 2px 2px 10px #f5f5f5; }
        .app .main-content .panel .panel-heading .panel-title {
          padding: 20px 0;
          font-size: 32px; }
          .app .main-content .panel .panel-heading .panel-title a {
            text-decoration: none; }
      .app .main-content .panel .panel-collapse {
        font-size: 12px; }

/*# sourceMappingURL=main.css.map */
